---
layout: base
---
<div class="m-post">
	<div class="main clearfix js-main">
		<div class="col-2 js-col-2">
			<aside class="js-article-aside"><div class="m-toc js-toc"></div></aside>
		</div>
		<div class="col-1">
			<article class="js-article" itemscope itemtype="http://schema.org/BlogPosting">
				<meta itemprop="mainEntityOfPage" itemscope itemType="https://schema.org/WebPage"/>
				<header class="main-header">
					{%- include snippets/page-title.html -%}
					<h1 itemprop="headline" itemprop="name headline">{{ __return }}</h1>
					{%- include article-info.html -%}
				</header>
				<div class="m-article-content js-article-content" itemprop="articleBody">{{ content }}</div>
				<footer>
					{%- if page.modify_date -%}
						{%- assign __locale = site.data.locale.ARTICLE_DATE_FORMAT -%}
						{%- include snippets/locale-to-string.html -%}
						{%- assign date_format = __return -%}
						{%- assign __locale = site.data.locale.LAST_UPDATED -%}
						{%- include snippets/locale-to-string.html -%}
						<span>{{ __return }}
							<time datetime="{{ page.modify_date | date_to_xmlschema }}" itemprop="dateModified">{{ page.modify_date | date: date_format }}</time>
						</span>
					{%- else -%}
						<meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}">
					{%- endif -%}
					<!-- <div class="article-license">
						{%- include license.html -%}
					</div> -->
				</footer>
			</article>

			<!-- Share buttons below post -->
			<center>
				<h4>Share on:</h4>
				<ul class="share-buttons">

				  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Finterseksyon.github.io&quote=Interseksyon" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="/assets/images/social_flat_rounded_rects_svg/Facebook.svg" /></a></li>

				  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Finterseksyon.github.io&text=Interseksyon:%20http%3A%2F%2Finterseksyon.github.io" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="/assets/images/social_flat_rounded_rects_svg/Twitter.svg" /></a></li>

				  <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Finterseksyon.github.io&description=Intersections%20of%20time%2C%20space%2C%20and%20people%20(from%20the%20perspective%20of%20a%20millenial%20Filipina)" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img alt="Pin it" src="/assets/images/social_flat_rounded_rects_svg/Pinterest.svg" /></a></li>

				  <li><a href="https://getpocket.com/save?url=http%3A%2F%2Finterseksyon.github.io&title=Interseksyon" target="_blank" title="Add to Pocket" onclick="window.open('https://getpocket.com/save?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Add to Pocket" src="/assets/images/social_flat_rounded_rects_svg/Pocket.svg" /></a></li>

				  <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Finterseksyon.github.io&title=Interseksyon" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Submit to Reddit" src="/assets/images/social_flat_rounded_rects_svg/Reddit.svg" /></a></li>

				  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Finterseksyon.github.io&title=Interseksyon&summary=Intersections%20of%20time%2C%20space%2C%20and%20people%20(from%20the%20perspective%20of%20a%20millenial%20Filipina)&source=http%3A%2F%2Finterseksyon.github.io" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Share on LinkedIn" src="/assets/images/social_flat_rounded_rects_svg/LinkedIn.svg" /></a></li>

				  <li><a href="http://wordpress.com/press-this.php?u=http%3A%2F%2Finterseksyon.github.io&quote=Interseksyon&s=Intersections%20of%20time%2C%20space%2C%20and%20people%20(from%20the%20perspective%20of%20a%20millenial%20Filipina)" target="_blank" title="Publish on WordPress" onclick="window.open('http://wordpress.com/press-this.php?u=' + encodeURIComponent(document.URL) + '&quote=' +  encodeURIComponent(document.title)); return false;"><img alt="Publish on WordPress" src="/assets/images/social_flat_rounded_rects_svg/Wordpress.svg" /></a></li>
				  
				</ul>
			</center>

			<div class="article-previous-next clearfix">
				{%- if page.next -%}
					{%- assign __path = page.next.url -%}
					{%- include snippets/prepend-baseurl.html -%}
					{%- assign href = __return -%}
					{%- assign __locale = site.data.locale.PREVIOUS -%}
					{%- include snippets/locale-to-string.html -%}
					<div class="article-previous"><span>{{ __return }}</span><a href="{{ href }}">{{ page.next.title }}</a></div>
				{%- endif -%}
				{%- if page.previous -%}
					{%- assign __path = page.previous.url -%}
					{%- include snippets/prepend-baseurl.html -%}
					{%- assign href = __return -%}
					{%- assign __locale = site.data.locale.NEXT -%}
					{%- include snippets/locale-to-string.html -%}
					<div class="article-next"><span>{{ __return }}</span><a href="{{ href }}">{{ page.previous.title }}</a></div>
				{%- endif -%}
			</div>
			{%- if jekyll.environment != "development" and page.comment != false -%}
			<div id="disqus_thread"></div>           
				<section>{%- include comment.html -%}</section>
			{%- endif -%}
		</div>
	</div>
</div>